{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "no-console": "off",
    "no-plusplus": "off",
    "no-tabs": "off",
    "linebreak-style": "off",
    "no-multiple-empty-lines": "off",
    "no-multi-spaces": "off",
    "prefer-template": "off",
    "max-len": ["warning", 150]

  }
}